
<!DOCTYPE html>
<html>
<head>
	<title>EasyBank - Whole world One Bank</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div>
		<div class="head">
			<img src="images.jfif" height="120">
		</div>
		<div>
			<div class="sub">
				<ul>
					<li><a href="aboutus.html">AboutUs</a></li>
					<li><a href="products.html">Products And Services</a></li>
					<li><a href="contractUs.html">Contract Us</a></li>
				</ul>
			</div>
			<div class="main">
				<h2>-: About Us :-</h2>
				<p>At EasyBank we belive in helping people to organize their requirements. We provide services and products worldwide. The details of our products and services can be found throughout this site</p>
				<h2>-: History :-</h2>
				<p>EasyBank was established in 1945 in the United States. Nicholas K Smith became the first president.
					EasyBank opened an office in Paris in 2000</p>
			</div>
			
		</div>
	</div>
</body>
</html>