<!DOCTYPE html>
<html>
<head>
	<title>EasyBank - Whole world One Bank</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div>
		<div class="head">
			<img src="images.jfif" height="120">
		</div>
		<div>
			<div class="sub">
				<ul>
					<li><a href="aboutus.html">AboutUs</a></li>
					<li><a href="products.html">Products And Services</a></li>
					<li><a href="contractUs.html">Contract Us</a></li>
				</ul>
			</div>
			<div class="main">
				<h2>-: Contract Us :-</h2>
				<p>Contract us by calling the relevant customer service telephone numbers and sending e-mail</p>
				<p><b>Customer Services<br>Telephone Number:</b> 033-2444-5341<br><b>E-mail:</b><a href="">custpmerservices@easybank.com</a></p>
			</div>		
		</div>
	</div>
</body>
</html>