<!DOCTYPE html>
<html>
<head>
	<title>EasyBank - Whole world One Bank</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div>
		<div class="head">
			<img src="images.jfif" height="120">
		</div>
		<div>
			
				<div class="sub">
					<ul>
						<li><a href="aboutus.html">AboutUs</a></li>
						<li><a href="productsAndServices.html">Products And Services</a></li>
						<li><a href="contractUs.html">Contract Us</a></li>
					</ul>
				</div>
				<div class="main">
					<h2>-: Products and Services :-</h2>
					<p>EasyBank is one of the biggest bank in the World, offering a wide rage if insurance and account services to customers.</p>
					<ul>
						<li>It provides credit card</li>
						<li>It has a brach network that provides professional banking</li>
					</ul>
				</div>
			
		</div>
	</div>
</body>
</html>